.sm {
  font-size: .85em;
}
.md {
  font-size: 1.2em;
  vertical-align: -18%;
}
.ms {
  font-size: 1.3em;
  vertical-align: -18%;
}
.lg {
  font-size: 1.4em;
  vertical-align: -22%;
}
.xl {
  font-size: 1.8em;
  vertical-align: -27%  ;
}
.xxl {
  font-size: 2em;
  vertical-align: -27%;
}
.xxxl {
  font-size: 2.4em;
  vertical-align: -30%;
}