@import '../../styles/colors.scss';

.app {
  text-align: center;
  &__header {
    background-color: $grayDark;
    display: flex;
    height: 100vh;
    color: white;
    justify-content: center;
    align-items: center;
  }
  &__coming_soon {
    font-size: 25px;
    color: white;
  }
}
